/* src/App.css */
.center{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Replaced Animation */
.replaced-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out forwards;
}

.replaced-text {
  font-size: 4rem;
  color: #FFFFFF;
  z-index: 2;
  text-shadow: 2px 2px #000;
  transform: scale(0);
  animation: zoomIn 0.5s ease forwards;
}

.fill-span {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000000; /* Change this color to your preferred fill color */
  z-index: 1;
  transform: translateX(100%);
  animation: fillAnimation 2s ease forwards; /* Duration should match your setTimeout */
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes zoomIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes fillAnimation {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}