/* import font*/
@font-face {
  font-family: "HomeVideo";
  src: local("HomeVideo"),
    url("./fonts/HomeVideo-BLG6G.ttf") format("truetype");
}
/* Apply font */
body {
  font-family: HomeVideo;
  color: #41FF00;
  background-color: black;
}

/* Apply font to toastify */
:root {
  --toastify-color-progress-dark: #41FF00;
}
.Toastify__toast-body { 
  font-family: 'HomeVideo'; 
}
/* src/App.css */
.center{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  font-family: HomeVideo;
  background-color: black;
  color: #41FF00;
  border: 1px solid #FFFFFF;
  font-size: large;
  box-shadow: 0px 3px 5px #FFFFFF; 
  outline: none;
}

button:hover {
  background-color: #666666;
  outline: none;
}

button:active {
  background-color: #666666;
  box-shadow: 1px 1px 3px #666666;
  transform: translateY(4px);
  outline: none;
}

input {
  font-family: HomeVideo;
  margin-right: 5px;
  background-color: black;
  color: #41FF00;
  border: 1px solid #FFFFFF;
  font-size: large;
  outline: none;
}
input:focus {
  font-family: HomeVideo;
  margin-right: 5px;
  background-color: black;
  color: #41FF00;
  border: 1px solid #FFFFFF;
  font-size: large;
  outline: none;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Replaced Animation Fade Version*/
.replaced-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out forwards;
  background-color: black;
}

.replaced-text {
  font-size: 6rem;
  color: #41FF00;
  z-index: 2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px black;
  transform: scale(0);
  animation: zoomIn 0.5s ease forwards;
}


@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes zoomIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes fillAnimation {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}